<div class="card-header text-show p-2">
    Calcul du Gain
</div>
<div class="card-body z-depth-bbs text-show p-5">

    <span class="text-bold text-show mt-3">Groupe I : </span>
     <div class="ml-4 mt-3">* Le membre à créer une équipe de 15 personnes : 15 X 100.000 = 1.500.000 FCFA
        <div class="ml-4">- Le membre reçois :1.500.000 X 18,67 % = 280.050 FCFA<br>
            (au second tour le system le repositionne au début du second)</div>
     </div>
     <br>

    <span class="text-bold text-show mt-3"><b>GROUPE II : </b></span>
    <div  class="ml-4 mt-3">* Le membre a une équipe de 15 personnes : 15 X 500.000 = 7.500.000 FCFA<br>
        7.500.000 X 18,67 % = 1.400.250 FCFA<br>
        (ici le système retire automatiquement 1.000.000 FCFA pour la cotisation du membre au GROUPE III).<br>
        Donc le membre reçois 400.250 FCFA</div>
    <br>

    <span class="text-bold text-show mt-3">GROUPE III : </span>
    <div class="ml-4 mt-3">* Les 15 personnes  qui vous rejoingnent :
    1.000.000 X 15 = 15.000.000 FCFA<br>
    15.000.000 X 18,66 % = 2.799.000 FCFA<br>
    Voilà le système de calcul</div>

</div>