{% block body %}
    <div class="container text-left text-show">
        <div class="p-2">
            <h5 class="card-title my-3 py-1"></h5>
            {{  include ('pages/Cotisations/_form.html.twig', {form: form, button: 'Enregistrer'}) }}
            <br/>
        </div>
    </div><hr/>
{% endblock %}